route[LOGIC_DISPATCH] {
	#Nếu ko phải bản tin Invite
      
	if (!is_method("INVITE"))
		return;

		

	# Nếu là gói từ FreeSWITCH
	if (route(FSINBOUND)){
		xlog("L_INFO", "SIP message from FreeSWITCH instance: $si:$sp\n");

	route(OBRELAY);
	exit;
	}

	# Nếu là gói từ SIP trunk
	if ($si == $sel(cfg_get.siptrunk.bindip) && $sp ==  $sel(cfg_get.siptrunk.bindport)) {
		xlog("L_INFO", "SIP message from Sip trunk....");
		return;
	}	

	xlog("L_INFO", "Send SIP message from to Freeswitch Dispatch ....");
	# Định tuyến đến FreeSWITCH
	route(FSRELAY);
	exit;
}