route[SET_RTP_REQUEST] {
    
    # #Check if the method is anything other than UPDATE or INVITE, 
	# if (!is_method("UPDATE|INVITE")) {
    #     return 0;
	# }
    
    if (sdp_content()){
        $avp(originalSDP) = $rb;
        rtpengine_manage("direction=core");

        # if(isflagset(FLT_FROM_PUBLIC)){
        #     xlog("L_INFO", ".........SET_RTP_REQUEST | FROM_PUBLIC IS SET\n");
        #     rtpengine_manage();
        # }

        # if(isflagset(FLT_FROM_CORE)){
        #     xlog("L_INFO", ".......SET_RTP_REQUEST | FROM_CORE IS SET\n");
        #      rtpengine_manage();
        # }   
        
        set_body("$avp(modifiedSDP)","application/sdp");      
  } 
}
