#!define WITH_PGSQL
#!define WITH_NAT
#!define WITH_RTPPROXY
#!define WITH_AUTH
#!define WITH_ACCDB
#!define WITH_USRLOCDB

#!KAMAILIO
####### Include Local Config If Exists #########
import_file "kamailio-local.cfg"

####### Global Parameters #########
include_file "/etc/kamailio/config/globals_main.cfg"

####### Core Modules Section ########
include_file "/etc/kamailio/config/modules_main.cfg"

####### Router Logics ########
include_file "/etc/kamailio/config/routes_main.cfg"
